@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "roboto", sans-serif;
    font-weight: 400;
}

p {
    color: blue;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 350%;
    letter-spacing: 2px;
    text-align: justify;
}